In [1]:
import pandas as pd
import re
import numpy as np
import matplotlib.pyplot as plt

In [2]:
x_df = pd.read_fwf('chat7.txt', header = None)
x_df.head()

                                                   0      1
0  8/7/19, 07:35 - Messages and calls are end-to-...  more.
1  8/7/19, 07:35 - Subhomoy Banerjee: It's was ju...    NaN
2                  8/7/19, 07:35 - Apurva: It's okay    NaN
3       8/7/19, 07:35 - Subhomoy Banerjee: Thank you    NaN
4          8/7/19, 07:35 - Apurva: But who are you??    NaN

In [3]:
x_df.shape

(24062, 2)

In [4]:
import re
def txtdfTodf(whatsapp_df):
    x=[]
    date = []
    time = []
    user = []
    valid=[]
    message = []
    pat1 = re.compile(r'(\d\/\d\/\d\d)')
    pat2 = re.compile(r'(\d\d\/\d\d\/\d\d)')
    pat3 = re.compile(r'(\d\/\d\d\/\d\d)')
    pat4 = re.compile(r'(\d\d\/\d\/\d\d)')

    for i in range(len(whatsapp_df)):
        if(len(re.split('-',whatsapp_df[0][i])) ==2 ):
            x.append(re.split(' - ',whatsapp_df[0][i]))

    for i in range(len(x)):
        data=re.split(', ',x[i][0])[0]
        if(pat1.search(data) or pat2.search(data) or pat3.search(data) or pat4.search(data)):
            date.append(re.split(', ',x[i][0])[0])
            time.append(re.split(',',x[i][0])[1])
            valid.append(i)
    for i in valid:
        user.append(re.split(':',x[i][1])[0])
        try:
            message.append(re.split(':',x[i][1])[1])
        except:
            message.append(" ")

    print(len(x),len(date),len(time),len(user),len(message))
    #print(user)

    df = pd.DataFrame(zip(date,time,user,message), columns=['date','time', 'user', 'message'])
    #df['time'] = pd.to_datetime(df.time,format=" %H:%M")
    df['date'] = pd.to_datetime(df.date,format="%m/%d/%y")
    return df

new_df = txtdfTodf(x_df)
new_df.to_csv('apurva1.csv',index=False)
new_df.head()

18925 18738 18738 18738 18738

        date    time               user                            message
0 2019-08-07   07:35  Subhomoy Banerjee            It's was just a mistake
1 2019-08-07   07:35             Apurva                          It's okay
2 2019-08-07   07:35  Subhomoy Banerjee                          Thank you
3 2019-08-07   07:35             Apurva                  But who are you??
4 2019-08-07   07:36  Subhomoy Banerjee   I'm nobody and nobody is perfect